<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laundryserviceapps">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddPromotion">

        </activity>
        <activity android:name=".PromotionPage">

        </activity>
        <activity android:name=".WelcomeLaundryApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StaffForgotPassword" />
        <activity android:name=".StaffRegistration" />
        <activity android:name=".StaffLoginPage" />
        <activity android:name=".Location" >

        </activity>
        <activity android:name=".LaundryShopList" />
        <activity android:name=".AddLaundryShop_Page" />
        <activity android:name=".Test" />
        <activity android:name=".History" />
        <activity android:name=".UpdateOrderStatus" />
        <activity android:name=".MyOrderList" />
        <activity android:name=".OrderSuccess" />
        <activity android:name=".SelectTimeSlot" >

        </activity>
        <activity android:name=".SelectService" />
        <activity android:name=".ReviewOrder" />
        <activity android:name=".Registration" />
        <activity android:name=".LoginPage">

        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".PickupAddress" />
        <activity android:name=".DeliveryAddress" />

        <activity android:name=".MainActivity" >

        </activity>

        <activity
            android:name=".product_laundryMainMenu"
            android:label="Product Manage(Retailer)">


        </activity>
        <activity
            android:name=".product_retailRegistration"
            android:label="Laundry Product Registration">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".product_viewShopItem"
            android:label="View Laundry Shop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".product_laundryMainMenu" />
        </activity>

        <activity
            android:name=".product_LaundryEditShopItem"
            android:label="Edit laundry shop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".product_viewShopItem" />
        </activity>
        <activity
            android:name=".retailer_registration"
            android:label="Retailer user registration">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".retailer_login" />
        </activity>
        <activity
            android:name=".retailer_login"
            android:label="Retailer user login">

        </activity>
        <activity
            android:name=".retailer_forgotPassword"
            android:label="Forgot password">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".retailer_login" />

        </activity>

        <activity
            android:name=".feedback"
            android:label="View Shop feedback">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".product_viewShopItem" />
        </activity>

        <activity
            android:name=".test1"
            android:label="Forgot password">

        </activity>

        <activity
            android:name=".test2"
            android:label="Forgot password">
        </activity>

        <activity
            android:name=".test3"
            android:label="Forgot password">
        </activity>

    </application>

</manifest>